{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borjomi Water</title>
    <link rel="stylesheet" href="{% static 'css/fp.css' %}">

</head>
<body>
    <div class="background-container">
        <button class="learn-more-button">Register Now</button>
    </div>
    <div class="section infacom-margin-top-64 aem-GridColumn aem-GridColumn--default--12">
        <section class="container">
           <div class="infa-c-section infa-c-section__bg infa-c-section__bg--none
                       ">
               <style>
                  .infa-c-section__bg--none * {
                      background-color: transparent;
                      color: #000000 !important;
                  }
               </style>
              <div class="infacom-heading-section" style="background-color: #ffff;">            
                 <div class="infacom-section-title-rte" data-aos="fade-right" data-aos-offset="150">
                    <h2 style="text-align: center;"><span class="infa-o-heading__2">Everybody’s ready for AI except your data.</span></h2>
                 </div>           
                 <div class="infacom-subheading-section infacom-subheading-section-default" data-aos="fade-right" data-aos-offset="200">
                    <p><span class="infa-o-text__large"> Realize transformative outcomes for your business by bringing your data and AI to life. Unlock your data and make it a living and trusted asset for your whole organization. With our AI-powered Intelligent Data Management Cloud™, you can drive better business results and create your competitive advantage. </span></p>    
                 </div>
              </div>
           </div>
        </section>  
    </div>
</body>
</html>


