        <!-- Jurisdiction select
        <form method="post"  action="{% url 'insert_record' %}"> 
            {% csrf_token %}
            <label for="jurisdiction">Select Jurisdiction:</label>
            <select id="jurisdiction" name="jurisdiction">
                {% for jurisdiction in juri %}
                    <option value="{{ jurisdiction }}">{{ jurisdiction }}</option>
                {% endfor %}
            </select>
            <button type="submit" id="submitBtn">Submit</button>
        </form> -->



<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Include Select2 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

    <!-- Include Select2 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="post" id="myForm" >
        {% csrf_token %}
        <!-- Jurisdiction select -->
        <label for="jurisdiction">Select Jurisdiction:</label>
        <select id="jurisdiction" name="jurisdiction">
            {% for jurisdiction in juri %}
                <option value="{{ jurisdiction }}">{{ jurisdiction }}</option>
            {% endfor %}
        </select> 
        
       
      
      
      
        
        <button type="submit" id="submitBtn">Submit</button>
    </form>
    

    

<script>
    document.getElementById('action').addEventListener('change', function() {
        var action = this.value;
        if (action === 'tables') {
            document.getElementById('tables-div').style.display = 'block';
            document.getElementById('api-div').style.display = 'none';
            document.getElementById('file-div').style.display = 'none';
        } else if (action === 'api') {
            document.getElementById('tables-div').style.display = 'none';
            document.getElementById('api-div').style.display = 'block';
            document.getElementById('file-div').style.display = 'none';
        } else if (action === 'file') {
            document.getElementById('tables-div').style.display = 'none';
            document.getElementById('api-div').style.display = 'none';
            document.getElementById('file-div').style.display = 'block';
        }
    });
</script>

<script>
    $(document).ready(function() {
        // Initialize Select2
        $('#tables').select2();
    });
</script>
</body>
</html>
        